.question-numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 80px;
}

.question-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
}

.question-number.active {
    background-color: gray;
    color: white;
}

.question-number.correct {
    background-color: #188C34;
}

.question-number.incorrect {
    background-color: #A42E43;
}

.question-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.question-number {
    padding: 5px;
    margin: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.arrow {
    font-size: 18px;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: #999;
}

.themes-list {
    display: flex;
    flex-direction: column;
    text-align: right;
    border: black 1px solid;
    padding: 7px;
    border-radius: 25px;
}

.theme-item {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 25px;
}

.theme-item.active {
    background-color: #ccc;
}

.parentDiv {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}
.childDiv {
    padding: 1rem;
}

.question {
    text-align: left;
    width: 75%;
}
