.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F7EFEF;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    text-align: center;
}

.navbar-item-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

.homeImg {
    width: 65%;
    margin: 0;
}

.loginImg, .logoutImg {
    width: 15%;
    margin: 0;
}

.navbar-link:hover {
    color: gray;
}

.multi-line-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multi-line-label span {
    white-space: nowrap;
}